rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthed() { return request.auth != null; }
    function isAdmin() {
      return isAuthed() && request.auth.token.email != null && (
        request.auth.token.email.matches('.*song.*') || request.auth.token.email.matches('.*eric.*')
      );
    }

    match /schedules/{id} {
      allow read: if isAuthed();
      allow create, update, delete: if isAdmin();
    }

    match /attendanceRecords/{id} {
      allow read: if isAuthed();
      allow create, update: if isAuthed();
      allow delete: if isAdmin();
    }

    match /classLogs/{id} {
      allow read: if isAuthed();
      allow create: if isAuthed();
      allow update, delete: if isAdmin();
    }

    match /institutes/{id} {
      allow read: if isAuthed();
      allow create, update, delete: if isAdmin();
    }

    match /classMessages/{id} {
      allow read: if isAuthed();
      allow create: if isAuthed();
      allow update, delete: if isAdmin();
    }

    match /todos/{id} {
      allow read: if isAuthed();
      allow create: if isAdmin();
      allow update: if isAuthed();
      allow delete: if isAdmin();
    }

    match /{document=**} { allow read, write: if false; }
  }
}
